<!DOCTYPE html>
<html class="not-ie no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuizPractice</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">


    <!-- CSS
    ================================================== -->
    <!-- Base + Vendors CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/fonts/entypo/css/entypo.css">
    <link rel="stylesheet" href="vendor/owl-carousel/owl.carousel.css" media="screen">
    <link rel="stylesheet" href="vendor/owl-carousel/owl.theme.css" media="screen">
    <link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.css" media="screen">

    <!-- Theme CSS-->
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/theme-elements.css">
    <link rel="stylesheet" href="css/animate.min.css">



    <!-- Head Libs -->
    <script src="vendor/modernizr.js"></script>

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
</head>
<body>
    <div class="site-wrapper site-wrapper__boxed">

        <!-- Header -->
        <header class="header header-menu-fullw">

            <!-- Header Top Bar -->
            <div class="header-top">
                <div class="container">
                    <div class="header-top-right">
                        <button class="btn btn-sm btn-default menu-link menu-link__tertiary">
                            <i class="fa fa-user"></i>
                        </button>
                        <div class="menu-container">
                            <ul class="header-top-nav header-top-nav__tertiary">
                                <li><a href="page-login.html"><i class="fa-pencil-square-o fa"></i> Register</a></li>
                                <li><a href="page-login.html"><i class="fa-lock fa"></i> Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Top Bar / End -->

            <div class="header-main">
                <div class="container">

                    <!-- Logo -->
                    <div class="logo">
                        <a href="index.html"><img src="images/logo.png" alt="Babysitter"></a>
                        <!-- <h1><a href="index.html"><strong>Baby</strong>sitter</a></h1> -->
                        <p class="tagline hidden-xs hidden-sm">Best care for baby!</p>
                    </div>
                    <!-- Logo / End -->

                    <button type="button" class="navbar-toggle">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Banner -->
                    <div class="head-info">
                        <ul class="head-info-list">
                            <li><span>Call Us on:</span> +1 800 300 4000</li>
                        </ul>
                        <ul class="social-links social-links__rounded social-links__colored">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                    <!-- Banner / End -->
                </div>
            </div>

            <!-- Navigation -->
            <nav class="nav-main">
                <div class="container">
                    <ul data-breakpoint="992" class="flexnav">
                        <li><a href="index.html">Home</a></li>
                        <li>
                            <a href="#">Pages</a>
                            <ul>
                                <li><a href="page-about.html">About Us</a></li>
                                <li><a href="page-services.html">Services</a></li>
                                <li><a href="page-team.html">Team</a></li>
                                <li><a href="page-team-member.html">Team Member</a></li>
                                <li><a href="page-faqs.html">FAQs</a></li>
                                <li><a href="page-fullwidth.html">Full Width</a></li>
                                <li><a href="page-left-sidebar.html">Left Sidebar</a></li>
                                <li><a href="page-right-sidebar.html">Right Sidebar</a></li>
                                <li><a href="page-404.html">404</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Features</a>
                            <ul>
                                <li><a href="features-shortcodes.html">Shortcodes</a></li>
                                <li><a href="features-pricing-tables.html">Pricing Tables</a></li>
                                <li><a href="features-typography.html">Typography</a></li>
                                <li><a href="features-columns.html">Columns</a></li>
                                <li><a href="features-icons.html">Icons</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Sitters/Jobs</a>
                            <ul>
                                <li><a href="job-post-profile.html">Post a Profile</a></li>
                                <li><a href="job-post-job.html">Post a Job</a></li>
                                <li><a href="job-list.html">Pet Sitters List</a></li>
                                <li><a href="job-dashboard.html">Dashboard</a></li>
                                <li><a href="job-profile.html">Profile</a></li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="blog-right-sidebar.html">Blog</a>
                            <ul>
                                <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                <li class="active"><a href="blog-fullwidth.html">Blog Full Width</a></li>
                                <li><a href="blog-post.html">Single Post</a></li>
                            </ul>
                        </li>
                        <li><a href="contacts.html">Contacts</a></li>
                    </ul>
                </div>
            </nav>
            <!-- Navigation / End -->

        </header>
        <!-- Header / End -->
        <!-- Main -->
        <div class="main" role="main">

            <!-- Page Heading -->
            <section class="page-heading">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>Blog Full Width</h1>
                        </div>
                        <div class="col-md-6">
                            <ul class="breadcrumb">
                                <li><a href="index.html">Home</a></li>
                                <li class="active">Blog Full Width</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Page Heading / End -->
            <!-- Page Content -->
            <section class="page-content">
                <div class="container">

                    @RenderBody();

                </div>
            </section>
            <!-- Page Content / End -->
            <!-- Footer -->
            <footer class="footer" id="footer">
                <div class="footer-widgets">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <!-- Widget :: Custom Menu -->
                                <div class="widget_nav_menu widget widget__footer">
                                    <h3 class="widget-title">Did you know?</h3>
                                    <div class="widget-content">
                                        Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh.
                                    </div>
                                </div>
                                <!-- /Widget :: Custom Menu -->
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <!-- Widget :: Tags Cloud -->
                                <div class="widget_tag_cloud widget widget__footer">
                                    <h3 class="widget-title">Tags Cloud</h3>
                                    <div class="tagcloud">
                                        <a href="#" class="btn btn-secondary btn-sm">Babysitting</a>
                                        <a href="#" class="btn btn-secondary btn-sm">Babysitting Jobs</a>
                                        <a href="#" class="btn btn-secondary btn-sm">Nannies</a>
                                        <a href="#" class="btn btn-secondary btn-sm">Tutoring</a>
                                        <a href="#" class="btn btn-secondary btn-sm">Tutors</a>
                                        <a href="#" class="btn btn-secondary btn-sm">Child Care Jobs</a>
                                        <a href="#" class="btn btn-secondary btn-sm">Nanny Jobs</a>
                                        <a href="#" class="btn btn-secondary btn-sm">Child Care</a>
                                    </div>
                                </div>
                                <!-- /Widget :: Tags Cloud -->
                            </div>

                            <div class="clearfix visible-sm"></div>

                            <div class="col-sm-6 col-md-3">
                                <!-- Widget :: Latest Posts -->
                                <div class="latest-posts-widget widget widget__footer">
                                    <h3 class="widget-title">From the Blog</h3>
                                    <div class="widget-content">
                                        <ul class="latest-posts-list">
                                            <li>
                                                <h5 class="title"><a href="#">Morbi urna mi, sollicitudin eget nibh fringilla, dignissim mattis</a></h5>
                                                <span class="date">July, 18 2015</span>
                                            </li>
                                            <li>
                                                <h5 class="title"><a href="#">Ut mauris arcu, fringilla at ipsum in, porta molestie nisi.</a></h5>
                                                <span class="date">July, 21 2015</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Widget :: Latest Posts -->
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <!-- Widget :: Newsletter -->
                                <div class="widget_newsletter widget widget__footer">
                                    <h3 class="widget-title">Get Our Newsletter</h3>
                                    <div class="widget-content">
                                        <p>Nulla tincidunt sollicitudin tristique. Sed sed metus malesuada, semper dolor sit amet, eleifend libero. </p>

                                        <form action="php/newsletter-form.php" method="POST" id="newsletter-form">
                                            <div class="alert alert-success hidden" id="newsletter-alert-success">
                                                <strong>Success!</strong> Thank you for subscribing.
                                            </div>
                                            <div class="alert alert-danger hidden" id="newsletter-alert-error">
                                                <strong>Error!</strong> Something went wrong.
                                            </div>
                                            <div class="input-group">
                                                <input type="email"
                                                       value=""
                                                       data-msg-required="Please enter email address."
                                                       data-msg-email="Please enter a valid email address."
                                                       class="form-control"
                                                       placeholder="Enter your email here..."
                                                       name="subscribe-email"
                                                       id="subscribe-email">
                                                <span class="input-group-btn">
                                                    <button type="submit" class="btn btn-success btn-block" data-loading-text="Loading...">Go!</button>
                                                </span>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                                <!-- /Widget :: Newsletter -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                Copyright &copy; 2015 <a href="index.html">Babysitter</a> &nbsp;| &nbsp;All Rights Reserved
                            </div>
                            <div class="col-sm-6 col-md-6">
                                Created by <a href="http://themeforest.net/user/dan_fisher">Dan Fisher</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer / End -->

        </div>
        <!-- Main / End -->
    </div>
    <!-- Javascript Files
    ================================================== -->
    <script src="vendor/jquery-1.11.0.min.js"></script>
    <script src="vendor/jquery-migrate-1.2.1.min.js"></script>
    <script src="vendor/bootstrap.js"></script>
    <script src="vendor/jquery.flexnav.min.js"></script>
    <script src="vendor/jquery.hoverIntent.minified.js"></script>
    <script src="vendor/jquery.flickrfeed.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="vendor/owl-carousel/owl.carousel.min.js"></script>
    <script src="vendor/jquery.fitvids.js"></script>
    <script src="vendor/jquery.appear.js"></script>
    <script src="vendor/jquery.stellar.min.js"></script>

    <!-- Newsletter Form -->
    <script src="vendor/jquery.validate.js"></script>
    <script src="js/newsletter.js"></script>

    <script src="js/custom.js"></script>
</body>
</html>
