@{
    ViewData["Title"] = "Quản lý hợp đồng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="~/css/AdminContract.css">
<div class="card search">
    <div class="box">
        <div class="container-1">
            <div class="row">
                <div class="row col-sm-6">
                    <p>Từ</p><input type="text" id="date_to" />
                    <p>Đến</p><input type="text" id="date_from" />
                    <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i>Search</button>
                </div>
                <div class="col-sm-5" S>
                    <fieldset class="fieldset-gender">
                        <label for="job_category">Tình trạng</label>
                        <div class="field select-style">
                            <select name="gender" id="gender" class="form-control">
                                <option value="0">-------</option>
                                <option value="Nhan_tien">Đã nhận tiền</option>
                                <option value="Thanh_toan">Đã thanh toán</option>
                                <option value="Hoan_thanh">Đã hoàn thành</option>
                            </select>
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-11" S>
                    <p>Người thuê</p><input type="text" id="hirer" />
                    <p>Người được thuê</p><input type="text" id="hired" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @*User 1*@
    <div class="card babysitter row col-fuild">
        <div class="no-gutters row">
            <div class="col-sm-6">
                Người thuê
            </div>
            <div class="col-sm-6">
                <div class="card-body">
                    <p>Người được thuê</p>
                </div>
            </div>
        </div>
        <div class="row">
            <p>Từ</p><input type="text" id="date_to" />
            <p>Đến</p><input type="text" id="date_from" />
            <p>Tình trạng</p>
        </div>
        @*End User 1*@
    </div>
</div>