
@model BabySit.Database_Access.Babysitter

<div class="container" style="padding-top:103px;">
    @foreach (var item in Model.users)
    {
        <div class="row">
            <div class="col-2">Gmail</div>
            <div class="col-4"><h3>@Html.DisplayFor(model => item.Email)</h3></div>
        </div>
        <div class="row">
            <div class="col-2">Phone</div>
            <div class="col-4"><h3>@Html.DisplayFor(model => item.Phone)</h3></div>
        </div>
    }
</div>

