@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="~/css/HomePage.css">

<div class="card search">
    <div class="box">
        <div class="container-1">
            <input type="search" id="search" placeholder="Tìm kiếm..." />
            <a class="icon" href="#"><i class="fa fa-search"></i></a>
        </div>
    </div>
</div>

<div class="row">
    @*Babysitter 1*@
    <div class="card babysitter row col-md-5">
        <div class="no-gutters row">
            <div class="col-sm-4">
                <img style="padding: 20px;" data-holder-rendered="true" class="card-img rounded-circle" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg">
            </div>
            <div class="col-sm-8">
                <div class="card-body">
                    <div class="info-1 row">
                        <h3 class="card-title col-md-12">Tên bảo mẫu</h3>
                        <p class="col-md-6">Nơi làm việc</p>
                        <p class="col-md-6">Tuổi</p>
                        <p class="col-md-6">Đánh giá</p>
                        <p class="col-md-6">Kinh nghiệm</p>
                    </div>
                    <div class="info-2 row">
                        <p class="col-md-4">Kỹ năng 1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    @*End Babysitter 1*@

    @*Babysitter 2*@
    <div class="card babysitter row col-md-5">
        <div class="no-gutters row">
            <div class="col-sm-4">
                <img style="padding: 20px;" data-holder-rendered="true" class="card-img rounded-circle" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg">
            </div>
            <div class="col-sm-8">
                <div class="card-body">
                    <div class="info-1 row">
                        <h3 class="card-title col-md-12">Tên bảo mẫu</h3>
                        <p class="col-md-6">Nơi làm việc</p>
                        <p class="col-md-6">Tuổi</p>
                        <p class="col-md-6">Đánh giá</p>
                        <p class="col-md-6">Kinh nghiệm</p>
                    </div>
                    <div class="info-2 row">
                        <p class="col-md-4">Kỹ năng 1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

