@{
    ViewData["Title"] = "Đăng ký";
}
<div class="d-flex align-items-center"
     style="min-height: 100vh">
    <div class="col-sm-8 col-md-6 col-lg-4 mx-auto"
         style="min-width: 300px; padding-top: 5em;">
        
        <div class="card navbar-shadow">

            <!--Body-->
            <div class="card-body">
                <form action="VerifyUser"
                      method="post">
                    <h4 class="card-title text-center">Đăng ký</h4>
                    <!--Name-->
                    <div class="form-group">
                        <label class="form-label"
                               for="name">Họ và Tên:</label>
                        <div class="input-group input-group-merge">
                            <input id="name"
                                   type="text"
                                   required
                                   name="user_name"
                                   class="form-control form-control-prepended">
                        </div>
                    </div>

                    <!--Email-->
                    <div class="form-group">
                        <label class="form-label"
                               for="email">Email:</label>
                        <div class="input-group input-group-merge">
                            <input id="email"
                                   name="email"
                                   type="email"
                                   required
                                   class="form-control form-control-prepended">
                        </div>
                    </div>

                    <!--Password-->
                    <div class="form-group">
                        <label class="form-label"
                               for="password">Mật khẩu:</label>
                        <div class="input-group input-group-merge">
                            <input id="password"
                                   type="password"
                                   required
                                   name="password"
                                   class="form-control form-control-prepended"
                                   minlength="8"
                                   maxlength="32">
                        </div>
                    </div>

                    <!--Confirm-->
                    <div class="form-group">
                        <label class="form-label"
                               for="password2">Nhập lại mật khẩu:</label>
                        <div class="input-group input-group-merge">
                            <input id="password2"
                                   type="password"
                                   required
                                   name="re_password"
                                   class="form-control form-control-prepended"
                                   minlength="8"
                                   maxlength="32">
                        </div>
                    </div>

                    <!--Checkbox-->
                    <div class="form-group">
                        <label class="form-label"
                               for="password2">Bạn là:</label>
                        <div class="radio-register row">
                            <div class="radio-parent col-md-6">
                                <input type="radio" name="you_are">
                                <label>Phụ huynh</label>
                            </div>
                            <div class="radio-babysitter col-md-6">
                                <input type="radio" name="you_are">
                                <label>Bảo mẫu</label>
                            </div>
                        </div>
                    </div>

                    <br />
                    <!--Submit-->
                    <div class="form-group text-center mb-0">
                        <div class="custom-control custom-checkbox">
                            <input id="terms"
                                   type="checkbox"
                                   class="custom-control-input"
                                   checked
                                   required value="submit" onclick="if(!this.form.checkbox.checked){alert('Bạn phải đồng ý với các điều khoản trước.');return false}">
                            <label for="terms"
                                   class="custom-control-label text-black-70">Bạn cần đồng ý với <a href="#">điều khoản về dịch vụ</a> của chúng tôi để tiếp tục</label>
                        </div>
                    </div>
                    <br />
                    <button type="submit"
                            class="btn btn-success btn-block mb-3">
                        Đăng ký
                    </button>
                </form>
            </div>
            <div class="card-footer text-center text-black-50">Đã có tài khoản? <a asp-controller="Home" asp-action="Login">Đăng nhập</a></div>
        </div>
    </div>
</div>
