@{
    ViewData["Title"] = "Xác minh";
}
<div class="d-flex align-items-center"
     style="min-height: 100vh">
    <div class="col-sm-8 col-md-6 col-lg-4 mx-auto"
         style="min-width: 300px;">
        <div class="d-flex justify-content-center mb-5 navbar-light">
            <!-- Brand -->
            <a href="Home"
               class="navbar-brand m-0">
                BabySit
            </a>
        </div>

        <!--Login Form-->

        <div class="card navbar-shadow">
            <div class="card-body">
                <!--Form-->
                <form action="#" method="post">
                    <h4 class="card-title text-center">Xác minh tài khoản</h4>
                    <p class="Form-subtitle">
                        Chúng tôi đã gửi một mã xác minh về email của bạn.<br> <br>
                        Vui lòng nhập mã xác minh vào ô dưới đây<br> <br>
                    </p>
                    <!--Code-->
                    <div class="form-group">
                        <div class="form-group">
                            <div class="input-group input-group-merge">
                                <input id="code"
                                       type="text" name="authcode"
                                       required
                                       placeholder="Mã xác minh"
                                       class="form-control form-control-prepended"
                                       maxlength="6">
                            </div>
                        </div>
                    </div>

                    <br />
                    <!--Submit-->
                    <div class="form-group ">
                        <button type="submit"
                                class="btn btn-success btn-block">
                            Xác minh
                        </button>
                    </div>
                    <div class="card-footer text-center text-black-50">Đã có tài khoản? <a asp-controller="Home"asp-action="Login">Đăng nhập</a></div>
                </form>
            </div>
        </div>
    </div>
</div>
