@{
    ViewData["Title"] = "Quản lý hợp đồng";
}

<link rel="stylesheet" href="~/css/AdminContract.css">
<div class="card search">
    <div class="box">
        <div class="container-1">
            <div class="row">
                <div class="row col-md-12">
                    <div class="col-md-4">
                        <label>Từ</label>
                        <input type="text" id="date_to" />
                    </div>
                    <div class="col-md-4">
                        <label>Đến</label>
                        <input type="text" id="date_from" />
                    </div>
                    <fieldset class="fieldset-status col-md-4">
                        <label for="status">Tình trạng</label>
                        <div class="field select-style" style="float:right;">
                            <select name="status" id="status" class="form-control">
                                <option value="0">-------</option>
                                <option value="Nhan_tien">Đã nhận tiền</option>
                                <option value="Thanh_toan">Đã thanh toán</option>
                                <option value="Hoan_thanh">Đã hoàn thành</option>
                            </select>
                        </div>
                    </fieldset>
                </div>

                <div class="col-md-12 row" style="padding-top: 2em;">
                    <div class="col-md-5">
                        <label>Người thuê</label>
                        <input type="text" id="hirer" />
                    </div>
                    <div class="col-md-6">
                        <label>Người được thuê</label>
                        <input type="text" id="hired" />
                    </div>
                </div>

                <div class="col-md-12" style="padding-top: 2em;">
                    <div class="col-md-3"></div>
                    <button class="btn btn-outline-success col-sm-2" type="submit"><i class="fa fa-search"></i>Tìm kiếm</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @*User 1*@
    <div class="card babysitter row col-fuild">
        <div class="no-gutters row">
            <div class="col-md-4">
                <div class="card-body">
                    Người thuê
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    Người được thuê
                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-4">
                <label>Từ</label>
                <input type="text" id="date_to" />
            </div>
            <div class="col-md-4">
                <label>Đến</label>
                <input type="text" id="date_from" />
            </div>
            <div class="col-md-4">
                <label>Tình trạng</label>
                <input type="text" id="status" />
            </div>
        </div>
    </div>
</div>
@*End User 1*@