<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="~/css/Layout.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light fixed-top">
        <a class="navbar-brand" href="#">
            <img src="~/images/logo.png" alt="BabySit">
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Login">Đăng nhập</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Register">Đăng ký</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="ContactUs">Liên hệ</a>
            </li>
            <li class="nav-item dropdown ml-1 ml-md-3">
                <a class="nav-link dropdown-toggle"
                   data-toggle="dropdown"
                   href="#"
                   role="button">
                    <img src="#"
                         alt="Avatar"
                         class="rounded-circle"
                         width="40">
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" asp-controller="Home" asp-action="EditProfile">
                        Chỉnh sửa thông tin
                    </a>
                    <a class="dropdown-item" asp-controller="Home" asp-action="">
                        Hợp đồng
                    </a>
                    <a class="dropdown-item" asp-controller="Home" asp-action="">
                        Lịch sử thanh toán
                    </a>
                    <a class="dropdown-item" asp-controller="Home" asp-action="">
                        Đăng xuất
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <div class="sidenav dropdown" style="padding-top: 5em;">
        <div class="khuvuc" style="padding: 1em; margin: auto;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownKhuVuc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Khu vực
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownKhuVuc">
                <a class="dropdown-item" href="#">Lorem</a>
                <a class="dropdown-item" href="#">Another Lorem</a>
                <a class="dropdown-item" href="#">More Lorem</a>
            </div>
        </div>

        <div class="kinhnghiem" style="padding: 1em; margin: auto;">
            <button class="btn btn-secondary dropdown-toggle 1" type="button" id="dropdownKinhNghiem" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kinh nghiệm
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownKinhNghiem">
                <a class="dropdown-item" href="#">Lorem</a>
                <a class="dropdown-item" href="#">Another Lorem</a>
                <a class="dropdown-item" href="#">More Lorem</a>
            </div>
        </div>

        <div class="thoigian" style="padding: 1em; margin: auto;">
            <button class="btn btn-secondary dropdown-toggle 2" type="button" id="dropdownThoiGian" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Thời gian
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownThoiGian">
                <a class="dropdown-item" href="#">Lorem</a>
                <a class="dropdown-item" href="#">Another Lorem</a>
                <a class="dropdown-item" href="#">More Lorem</a>
            </div>
        </div>

        <div class="mucluong" style="padding: 1em; margin: auto;">
            <button class="btn btn-secondary dropdown-toggle 3" type="button" id="dropdownLuong" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mức lương
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownLuong">
                <a class="dropdown-item" href="#">Lorem</a>
                <a class="dropdown-item" href="#">Another Lorem</a>
                <a class="dropdown-item" href="#">More Lorem</a>
            </div>
        </div>

        <a asp-controller="Home" asp-action="AdminDashboard" class="item">Báo cáo</a>
        <a asp-controller="Home" asp-action="AdminContract" class="item">Hợp đồng</a>
        <a asp-controller="Home" asp-action="AdminUserManagement" class="item">Người dùng</a>

        <div style="padding: 2em; margin: auto;">
            <button class="btn btn-success">Tìm kiếm</button>
        </div>
    </div>
    <div style="margin-left:20%; padding-top:8em;">
        @RenderBody()
    </div>
</body>
</html>
