<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="~/css/Layout.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light fixed-top">
        @if (User.Identity.IsAuthenticated)
        {
            <a class="navbar-brand" asp-controller="Home" asp-action="HomePage">
                <img src="~/images/logo.png" alt="BabySit">
            </a>
        }
        else
        {
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo.png" alt="BabySit">
            </a>
        }
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="ContactUs">Liên hệ</a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item dropdown ml-1 ml-md-3">
                    <a class="nav-link dropdown-toggle"
                       data-toggle="dropdown"
                       href="#"
                       role="button">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
                             alt="Avatar"
                             class="rounded-circle"
                             width="40">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" asp-controller="Home" asp-action="EditProfile">
                            Chỉnh sửa thông tin
                        </a>
                        <a class="dropdown-item" asp-controller="Home" asp-action="">
                            Hợp đồng
                        </a>
                        <a class="dropdown-item" asp-controller="Home" asp-action="">
                            Lịch sử thanh toán
                        </a>
                        <a class="dropdown-item" href="@Url.Action("Logout","Account")">
                            Đăng xuất
                        </a>
                    </div>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="Login">Đăng nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="Register">Đăng ký</a>
                </li>
            }
        </ul>
    </nav>

    <div class="container-fluid">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>

