.owl-carousel {
    width: 90%;
    margin: auto;
    position: relative;
    text-align: center;
    font-family: sans-serif;
}

.owl-carousel .owl-nav {
    overflow: hidden;
    height: 0px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #20c997;
}


.owl-carousel .item {
    text-align: center;
}
.owl-carousel .item img{
    padding: 10px;
}
.owl-carousel .nav-button {
    cursor: pointer;
    position: absolute;
    top: 110px !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.25;
}

.owl-carousel .owl-prev {
    left: -35px;
}

.owl-carousel .owl-next {
    right: -35px;
}

.owl-theme .owl-nav [class*=owl-] {
    color: #ffffff;
    font-size: 39px;
    background: #20c997;
    border-radius: 3px;
}

.owl-carousel .prev-carousel:hover {
    background-position: 0px -53px;
}

.owl-carousel .next-carousel:hover {
    background-position: -24px -53px;
}