@{ ViewData["Title"] = "Quên mật khẩu"; }
@model User
<div class="d-flex align-items-center"
     style="min-height: 100vh">
    <div class="col-sm-8 col-md-6 col-lg-4 mx-auto"
         style="min-width: 300px;">
        <div class="d-flex justify-content-center mb-5 navbar-light">
            <a asp-controller="Home" asp-action="Index"
               class="navbar-brand m-0">
                BabySit
            </a>
        </div>

        <div class="card navbar-shadow">
            <div class="card-body">
                <h4 class="card-title text-center">Quên mật khẩu</h4>
                <p>Khôi phục tài khoản bằng email</p>
                @using (Html.BeginForm("ForgotPass", "Account", FormMethod.Post))
                {
    <div class="form-group">
        <label class="form-label"
               for="email">Email:</label>
        <div class="input-group input-group-merge">
            @Html.EditorFor(model => model.Email, new
            { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

                    <button type="submit" class="btn btn-success btn-block">
                        Gửi xác minh
                    </button>
                                    <label style="color:red;">@ViewBag.MessageErrorSendEmail</label>
                                                    <label style="color:red;">@ViewBag.InvalidEmailMessage</label>}
            </div>

            <div class="card-footer text-center text-black-50">Đã nhớ mật khẩu? <a asp-controller="Account" asp-action="Login">Đăng nhập</a></div>
        </div>
    </div>
</div>